# Django settings
DEBUG=True
SECRET_KEY=ig25ER7sl/hyMy0PG0SfkycWkNrE9RPrF4E00EruuA135LY8+/W+sV9lESfICVo9M0zpFKdAo8vbm5j36dXzHg==

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database configuration
# DATABASE_DRIVER=postgres
DATABASE_NAME=dev
DATABASE_USER=dev_user
DATABASE_PASSWORD=VoyLEYNcasMINENRineW
DATABASE_HOST=localhost
DATABASE_PORT=5432


# OpenAPI settings
OPENAPI_TITLE=Esignature Management System
OPENAPI_DEFAULT_VERSION=v1
OPENAPI_DESCRIPTION=A comprehensive Esignature Management System
OPENAPI_TERMS_OF_SERVICE=https://example.com/terms/
OPENAPI_CONTACT_EMAIL=support@comprolog.com
OPENAPI_LICENSE_NAME=Esignature Management System License Agreement

SWAGGER_UI=true

# Django Admin Credentials
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=123456
DJANGO_SUPERUSER_EMAIL=admin@example.com

TIME_ZONE=UTC

# MinIO / S3 Storage
AWS_ACCESS_KEY_ID=DOjZnFR1K4b..............
AWS_SECRET_ACCESS_KEY=1rhkpgu6REKeb8..................
AWS_STORAGE_BUCKET_NAME=media
AWS_S3_ENDPOINT_URL=http://192.168.71.9:9000
# AWS_S3_REGION_NAME=us-east-1

DEPLOYMENT_PORT=8011
# Deployment Port